{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m8 s12">
            <br>
            <h2><center>Welcome to your account, {{ current_user.username }}!</center></h2>
            <p>Welcome to your Next Man's Treasure account. Simply scroll down to manage the items that you have listed on site.</p>
            <p>Select the edit button to update your listings, or remove to take down any items that you have sold.</p>
            <br>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert" role="alert">
                      {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <br>
        </div>
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
    <div class="row">
        <div class="col m3 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m3 s12" id="buttons">
            <a href="{{ url_for('index') }}" class="waves-effect waves-light btn-large" align="middle"><i class="material-icons right">home</i>Home</a>
            <a href="{{ url_for('browse_brand') }}" class="waves-effect waves-light btn-large" align="middle"><i class="material-icons right">label</i>Browse by brand</a>
        </div>
        <div class="col m3 s12" id="buttons">
            <a href="{{ url_for('browse_gender') }}" class="waves-effect waves-light btn-large" align="middle"><i class="material-icons right">wc</i>Browse by gender</a>
            <a href="{{ url_for('sell') }}" class="waves-effect waves-light btn-large" align="middle">Sell<i class="material-icons right">attach_money</i></a>
        </div>
        <div class="col m3 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
    <div class="row">
        <div class="col m1 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m10 s12">
            <ul class="collapsible" data-collapsible="accordion">
                {% if myItems %}
                  {% for items in myItems %}
                  <li>
                    <div class="collapsible-header">
                      <div class="dropdown_icon col s1">
                        <i class="material-icons">arrow_drop_down</i>
                      </div>
                      <div class="items_header col s7">
                        <strong>{{items.name}} - £{{items.price}}</strong>
                      </div>
                      <div class="col s4">
                        <a href="{{ url_for('edit_listing', id=items.id) }}" class="btn waves-effect waves-light" id="edit">Edit</a>
                        <a href="{{ url_for('remove_listing', id=items.id) }}" class="btn waves-effect waves-light" id="delete">Remove</a>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <span>
                        <img id="thumbnail" src="data:;base64,{{items.b64_image_data}}" alt="{{items.imageName}}" align="left" />
                        <strong>Description:</strong> {{items.info}}
                        <br>
                        <strong>Brand:</strong> {{items.brand}} 
                        <br>
                        <strong>Gender:</strong> {{items.gender}} 
                        <br>
                        <strong>Size:</strong> {{items.size}} 
                        <br>
                        <strong>Colour:</strong> {{items.colour}} 
                        <br>
                        <strong>Condition:</strong> {{items.cond}} 
                        <br>
                        <strong>Contact:</strong> {{items.contact}}                      
                      </span>
                    </div>
                  </li>
                  {% endfor %}
            </ul>
        </div>
        <div class="col m1 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
    <div class="row">
        <div class="col m1 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m10 s12">
            {% else %}
            <p>You currently don't have any items listed on our site.</p> 
            <p>To list an item, simply begin by clicking the 'sell' tab at the top of the page.</p>
            <br>
            {% endif %}
        </div>
        <div class="col m1 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
    <div class="row">
        <div class="col m3 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m6 s12" id="buttons">
            <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn-large" align="middle"><i class="material-icons right">exit_to_app</i>Logout</a>
        </div>
        <div class="col m3 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}