<!DOCTYPE html>
<html>
    <head>
        <title>Next Man's Treasure</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Righteous|Roboto+Mono|Roboto+Slab|Shrikhand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    </head>
    <body>
        
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li class="dropdown-list-item"><a href="{{ url_for('browse_brand') }}" id="nav-text">Brand<i class="material-icons right">label</i></a></li>
          <li class="divider"></li>
          <li class="dropdown-list-item"><a href="{{ url_for('browse_gender') }}" id="nav-text">Gender<i class="material-icons right">wc</i></a></li>
        </ul>
        <nav class="navbar">
          <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo">NMT</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger" id="nav-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('index') }}" id="nav-text">Home<i class="material-icons right">home</i></a></li>
              <li><a href="{{ url_for('user') }}" id="nav-text">My Account<i class="material-icons right">lock_open</i></a></li>
              {% if current_user.is_active %}
                <li><a href="{{ url_for('sell') }}" id="nav-text">Sell<i class="material-icons right">attach_money</i></a></li>
                <li><a href="{{ url_for('logout') }}" id="nav-text">Logout<i class="material-icons right">exit_to_app</i></a></li>
              {% endif %}
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" id="nav-text">Browse by<i class="material-icons right">search</i></a></li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{{ url_for('index') }}" id="nav-text">Home<i class="material-icons right" id="sidebar-icon">home</i></a></li>
          <li><a href="{{ url_for('user') }}" id="nav-text">My Account<i class="material-icons right" id="sidebar-icon">lock_open</i></a></li>
          <li><a href="{{ url_for('browse_brand') }}" id="nav-text">Browse by Brand<i class="material-icons right" id="sidebar-icon">label</i></a></li>
          <li><a href="{{ url_for('browse_gender') }}" id="nav-text">Browse by Gender<i class="material-icons right" id="sidebar-icon">wc</i></a></li>
          {% if current_user.is_active %}
            <li><a href="{{ url_for('sell') }}" id="nav-text">Sell<i class="material-icons right" id="sidebar-icon">attach_money</i></a></li>
            <li><a href="{{ url_for('logout') }}" id="nav-text">Logout<i class="material-icons right" id="sidebar-icon">exit_to_app</i></a></li>
          {% endif %}
        </ul>
        <div class="gradient">
        {% block content %}
        {% endblock %}
        </div>
        <!-- Footer -->
        <footer>
            <div class="col m12 s12" id="icons">
                <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                <br>
                <p class="copyright text-muted">Copyright &copy; Next Man's Treasure 2018</p>
            </div>
        </footer>
        
        <!-- Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        
    </body>
</html>