{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <img class="mySlides" src="https://c1.staticflickr.com/6/5053/5496744249_cb2138dd23_b.jpg">
        <img class="mySlides" src="https://c1.staticflickr.com/5/4500/37371902416_665db92560_b.jpg">
    </div>
    <div class="row">
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m8 s12">
            <h2><center>Welcome to Next Man's Treasure</center></h2>
            <p>Next Man's Treasure is a platform to browse, purchase, share and advertise items of clothing, old or new.</p>
            <p>Whether you're looking to add to your wardrobe, or offload some unwanted garments while making a bit of money in the process, our free service will put you in touch with the right people.</p>
            <p>If you're looking to sell items, please log into your account by following the link below, if you haven't already. Otherwise, feel free to browse what's available now.</p>
        </div>
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12" id="buttons">
            <a href="{{ url_for('user') }}" class="waves-effect waves-light btn-large" id="login-btn" align="middle"><i class="material-icons right">lock_open</i>Login to your account</a>
        </div>
    </div>
    <div class="row">
        <div class="col m3 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m3 s12" id="buttons">
            <a href="{{ url_for('browse_brand') }}" class="waves-effect waves-light btn-large" id="brand" align="middle"><i class="material-icons right">label</i>Browse by brand</a>
            <br>
        </div>
        <div class="col m3 s12" id="buttons">
            <a href="{{ url_for('browse_gender') }}" class="waves-effect waves-light btn-large" id="gender" align="middle"><i class="material-icons right">wc</i>Browse by gender</a>
            <br>
        </div>
        <div class="col m3 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}