{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m8 s12">
            <br>
            <h2><center>{{ page_title }}</center></h2>
            <p>Enter your login details below or register for an account to begin listing items on our site.</p>
            <br>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert" role="alert">
                      {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
        
    <!-- LOGIN & REGISTER FORMS -->
        
    <div class="row">
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col m8 s12">
            <ul id="login-register-tabs" class="tabs">
                <li class="tab col m6 s12"><a class="active" href="#login-tab">Login</a></li>
                <li class="tab col m6 s12"><a href="#register-tab">Register</a></li>
            </ul>
            
            <!-- Login tab -->
            
            <div id="login-tab" class="col m12 s12">
            <br>
              <form method="POST" action="/login">
                <div class="input-field col m12 s12">
                  <input id="loginUsername" name="username" type="text" class="validate">                  
                  <label for="name">Username</label>
                </div>
                <div class="input-field col m12 s12">
                  <input id="loginPassword" name="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col m12 s12" id="buttons">
                    <button class="btn waves-effect waves-light" type="submit" value="submit">Login
                        <i class="material-icons right">lock_open</i>
                    </button>
                </div>
              </form>
            </div>
            
            <!-- Register tab -->
            
            <div id="register-tab" class="col m12 s12">
            <br>
              <form method="POST" action="/add_user">
                <div class="input-field col m12 s12">
                  <input id="registerUsername" name="username" type="text" class="validate">                  
                  <label for="name">Username</label>
                </div>
                <div class="input-field col m12 s12">
                  <input id="registerEmail" name="email" type="email" class="validate">
                  <label for="contact">Email</label>
                </div>
                <div class="input-field col m12 s12">
                  <input id="loginPassword" name="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col m12 s12" id="buttons">
                    <button class="btn waves-effect waves-light" type="submit" value="submit">Register
                        <i class="material-icons right">lock_open</i>
                    </button>
                </div>
              </form>
            </div>
        </div>
        <div class="col m2 s0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}